.lang-container {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, white 0%, white 100%) !important;
  color: #464646 !important;
}

.lang-list {
  align-self: center;
  padding: 5px;
  /*max-width: 133px !important;*/
  /*width: 133px !important;*/
  width: 50%;
  box-shadow: none !important;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.explore-no-margin {
  margin:0 !important;
  margin:10px !important;

}
.activity-rating {
  font-size: 25px;
}

.explore-activity-rating{
  padding-top: 10px !important;
}
