.lang-container {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, white 0%, white 100%) !important;
  color: #464646 !important;
}

.lang-list {
  align-self: center;
  padding: 5px;
  max-width: 169px !important;
  width: 169px !important;
  box-shadow: none !important;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.explore-no-margin {
  margin:0 !important;
  margin:10px !important;

}
.activity-rating {
  font-size: 25px;
}

.explore-purple-collapse-button,
.explore-purple-collapse-button:active,
.explore-purple-collapse-button:hover,
.explore-purple-collapse-button:focus {
  background-image: linear-gradient(to bottom, #ab75be 0%, #874A9D 100%) !important; /* 15% lighter, full color*/
  color: white !important;
  text-shadow: 0 !important;
  border-color: #874A9D !important;
  background-color:#874A9D !important;

}

.explore-purple-collapse-body{
  background-color: white !important;
  border-color: #cba9d7 !important; /* 30% lighter*/
}

.explore-orange-collapse-button,
.explore-orange-collapse-button:active,
.explore-orange-collapse-button:hover,
.explore-orange-collapse-button:focus {
  background-image: linear-gradient(to bottom, #fabb66 0%, #F89A1C 100%) !important;
  color: white !important;
  text-shadow: 0 !important;
  border-color: #F89A1C !important;
  background-color:#F89A1C !important;

}

.explore-orange-collapse-body{
  background-color: white !important;
  border-color: #fddcb0 !important;
}

.explore-blue-collapse-button,
.explore-blue-collapse-button:active,
.explore-blue-collapse-button:hover,
.explore-blue-collapse-button:focus {
  background-image: linear-gradient(to bottom, #5aa7de 0%, #2783C5 100%) !important;
  color: white !important;
  text-shadow: 0 !important;
  border-color: #2783C5 !important;
  background-color:#2783C5 !important;

}

.explore-blue-collapse-body{
  background-color: white !important;
  border-color: #9ac9eb !important;
}

.explore-green-collapse-button,
.explore-green-collapse-button:active,
.explore-green-collapse-button:hover,
.explore-green-collapse-button:focus {
  background-image: linear-gradient(to bottom, #6cd079 0%, #3AB54A 100%) !important;
  color: white !important;
  text-shadow: 0 !important;
  border-color: #3AB54A !important;
  background-color:#3AB54A !important;

}

.explore-green-collapse-body{
  background-color: white !important;
  border-color: #a6e2ae !important;
}

.explore-light-blue-button,
.explore-light-blue-button:active,
.explore-light-blue-button:hover,
.explore-light-blue-button:focus {
  background-image: linear-gradient(to bottom, #6BCFF6 0%, #6BCFF6 100%) !important;
  color: white !important;
  text-shadow: 0 !important;
  border-color: #6BCFF6 !important;
  background-color:#6BCFF6 !important;

}
.explore-light-blue-button:active,
.explore-light-blue-button:hover,
.explore-light-blue-button:focus{
  background-image: linear-gradient(to bottom, #3bbff3 0%, #3bbff3 100%) !important;
  background-color: #3bbff3 !important;
}
