*{
  font-size: 15px;
}

input, textarea, select {
  font-size: 16px !important;
}
.navbar {
  min-width:320px !important;
}

.container{
  min-width:320px !important;
}

.explore-small-hr{
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.explore-heading-no-top-margin{
  margin-top: 0px !important;
}

.explore-purple-collapse-button,
.explore-orange-collapse-button,
.explore-blue-collapse-button,
.explore-green-collapse-button,
.explore-light-blue-collapse-button,
.explore-red-collapse-button{
  font-size: 15px !important;
}
.explore-purple-collapse-button,
.explore-purple-collapse-button:active,
.explore-purple-collapse-button:hover,
.explore-purple-collapse-button:focus,
.explore-purple-panel > .panel-heading {
  background-image: linear-gradient(to bottom, #ab75be 0%, #874A9D 100%) !important; /* 15% lighter, full color*/
  color: white !important;
  text-shadow: 0 !important;
  border-color: #874A9D !important;
  background-color:#874A9D !important;

}
.explore-purple-collapse-body,
.explore-purple-panel > .panel-body,
.explore-purple-panel{
  background-color: white !important;
  border-color: #cba9d7 !important; /* 30% lighter*/
}

.explore-orange-collapse-button,
.explore-orange-collapse-button:active,
.explore-orange-collapse-button:hover,
.explore-orange-collapse-button:focus,
.explore-orange-panel > .panel-heading {
  background-image: linear-gradient(to bottom, #fabb66 0%, #F89A1C 100%) !important;
  color: white !important;
  text-shadow: 0 !important;
  border-color: #F89A1C !important;
  background-color:#F89A1C !important;
}

.explore-orange-collapse-body,
.explore-orange-panel > .panel-body,
.explore-orange-panel{
  background-color: white !important;
  border-color: #fddcb0 !important;
}

.explore-blue-collapse-button,
.explore-blue-collapse-button:active,
.explore-blue-collapse-button:hover,
.explore-blue-collapse-button:focus,
.explore-blue-panel > .panel-heading {
  background-image: linear-gradient(to bottom, #5aa7de 0%, #2783C5 100%) !important;
  color: white !important;
  text-shadow: 0 !important;
  border-color: #2783C5 !important;
  background-color:#2783C5 !important;

}

.explore-blue-collapse-body,
.explore-blue-panel > .panel-body,
.explore-blue-panel{
  background-color: white !important;
  border-color: #9ac9eb !important;
}

.explore-green-label {
  color: white !important;
  border-color: #3AB54A !important;
  background-color:#3AB54A !important;
}

.explore-green-collapse-button,
.explore-green-collapse-button:active,
.explore-green-collapse-button:hover,
.explore-green-collapse-button:focus,
.explore-green-panel > .panel-heading {
  background-image: linear-gradient(to bottom, #6cd079 0%, #3AB54A 100%) !important;
  color: white !important;
  text-shadow: 0 !important;
  border-color: #3AB54A !important;
  background-color:#3AB54A !important;
}

.explore-green-collapse-body,
.explore-green-panel > .panel-body,
.explore-green-panel{
  background-color: white !important;
  border-color: #a6e2ae !important;
}

.explore-light-blue-label {
  color: white !important;
  border-color: #6BCFF6 !important;
  background-color:#6BCFF6 !important;
}

.explore-light-blue-button,
.explore-light-blue-button:active,
.explore-light-blue-button:hover,
.explore-light-blue-button:focus,
.explore-light-blue-panel > .panel-heading {
  background-image: linear-gradient(to bottom, #6BCFF6 0%, #6BCFF6 100%) !important;
  color: white !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .4)  !important;
  border-color: #6BCFF6 !important;
  background-color:#6BCFF6 !important;
}
.explore-light-blue-button:active,
.explore-light-blue-button:hover,
.explore-light-blue-button:focus,
.explore-light-blue-panel > .panel-body,
.explore-light-blue-panel{
  background-image: linear-gradient(to bottom, #3bbff3 0%, #3bbff3 100%) !important;
  background-color: #3bbff3 !important;
}

.explore-red-label {
  color: white !important;
  border-color: #EA2728 !important;
  background-color:#EA2728 !important;
}

.explore-red-collapse-button,
.explore-red-collapse-button:active,
.explore-red-collapse-button:hover,
.explore-red-collapse-button:focus,
.explore-red-panel > .panel-heading {
  background-image: linear-gradient(to bottom, #f16d6d 0%, #EA2728 100%) !important;
  color: white !important;
  text-shadow: 0 !important;
  border-color: #EA2728 !important;
  background-color:#EA2728 !important;
}

.explore-red-collapse-body,
.explore-red-panel > .panel-body,
.explore-red-panel{
  background-color: white !important;
  border-color: #f8b2b3 !important;
}

.explore-red-text {
  color:  #EA2728 !important;
}

.explore-green-text {
  color:  #3AB54A !important;
}

.background-image-white {
  background-image: linear-gradient(to bottom, white 0%, white 100%) !important;
}

.explore-image-container {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.explore-flexbox-container {
  display: flex !important; /* or inline-flex */
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
  background-image: linear-gradient(to bottom, white 0%, white 100%) !important;
  border-width: 3px !important;
  margin-bottom: 10px !important;
}

.exhibit-step1-container {
  border-color: #3AB54A !important;
  padding:5px !important;
}

.exhibit-step2-container {
  border-color: #EA2728 !important;
  padding:5px !important;
}

.explore-selected-step1 {
  border: #3AB54A 3px solid !important;
  background-color: white !important;
}

.explore-selected-step2 {
  border: #EA2728 3px solid !important;
  background-color: white !important;/* 5% lighten of the alert color */
}

.explore-square-thumbnail {
  align-self: center !important;
  padding: 0px !important;
	/*width: 133px !important;*/
  width: 48%;
  flex: none !important;
  height: 100% !important;
	margin: 1% !important;
  /*max-width: 133px !important;*/
  min-height: 90px !important;
  border-width: 3px !important;
}
