.container{
  padding: 10px !important;
}

* {
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
}

.custom-robot-part{
 max-width: 133px !important;
}
