.activity-select-container {
  display: flex !important; /* or inline-flex */
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
  background-image: linear-gradient(to bottom, white 0%, white 100%) !important;
  border-width: 3px !important;
}

.exhibit-container {
  border-color: #3AB54A !important;
}

.activity-container {
  border-color: #EA2728 !important;
}

.explore-square-thumbnail {
  align-self: center !important;
  padding: 10px !important;
	width: 160px !important;
  flex: none !important;
  height: 100% !important;
	margin: 1% !important;
  max-width: 160px !important;
  min-height: 90px !important;
  border-width: 3px !important;
}

* {
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
}

.selected-exhibit {
  border: #3AB54A 3px solid !important;
  background-color: white !important;
}

.selected-activity {
  border: #EA2728 3px solid !important;
  background-color: white !important;/* 5% lighten of the alert color */
}
